$tablet-breakpoint: 600px;
$desktop-breakpoint: 1024px;

//primary colours
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #fff;

//secondary colours
$slate: #5c667e;
$cloud: #bdc5d5;

//background colours
$graphite: #232940;
$light-grey: #F7F8F9;

//border colour
$grey: #ccc;

//supporting colours
$green: #158463;
$red: #c94515;