@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/font' as *;
@use "../../styles/partials/variables" as *;

.singleItem {
    padding: 11rem 2rem 0 2rem;
    &-title {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 600;
        padding-bottom: 3rem;
    }
    &-img {
        width: 50%;
        margin: 0 auto;
        
    }
    &-reference {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        padding-top: 5rem;
        &--img {
            width: 20%;
            &:hover {
                outline: 1px solid rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
            }
        }
    }
    &-info {
        padding: 3rem 1rem;
        background-color: #f4f4f4;
        margin-top: 2rem;
        // background-color: #e0e0e0;
        &--btn {
            gap: 2rem;
            display: flex;
            width: 100%;
            &--add {
                width: 50%;
            }
            &--buy {
                width: 50%;
            }
        }
        &--text {
            font-size: 1.25rem;
            font-weight: 400;
            padding-bottom: 3rem;
        }
        &--detail {
            background-color: #f4f4f4;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        &--reviews {
            &-icons {
                display: flex;
                gap: 0.5rem;
            }
            &--Detail {
                display: flex;
                justify-content: space-between;
            }
        }
        
    }
    &-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        & button {
            background-color: #ffffff;
            width: 40px;
            height: 40px;
        }
        &--btn {
            display: flex;
            & p {
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &-description {
        padding: 1rem;
        line-height: 2rem;
    }
}