@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/font' as *;

.footer {
    background-color: #323232;
    font-size: 0.8rem;
    margin-top: 2rem;
    color: #ffffff;
    padding: 2rem 1rem 3rem 1rem;
    line-height: 1.4rem;
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        // align-items: center;
        justify-content: space-between;
        padding: 2rem 4rem 3rem 4rem;
        gap: 2rem;
    }
    &-subscribe {

        @include tablet {
            width: 54%;
            text-align: left;
        }
        & p {
            margin-bottom: 0.5rem;
            text-align: center;
            @include tablet {
                text-align: left;
            }
        }
        &-container {
            display: flex;
            justify-content: center;
            gap: 1rem;
            @include tablet {
                justify-content: unset;
            }
        }
        &-input {
            border: 2px solid #ffffff;
            background-color: #323232;
            width: 70%;
            height: 2rem;
            padding-left: 0.5rem;
            &::placeholder {
                color: #ffffff;
            }
            @include tablet {
                height: 2rem;
            }
        }
        &-btn {
            background-color: #ffffff;
            color: black;
            width: 3rem;
        }
    }
    &-Info {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: 1.5rem;
        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-around;
            width: 60%;
            gap: 2rem;
            margin-top: 0;
        }
        
    }
    &-contactInfo {
        &-icons {
            display: flex;
            gap: 0.8rem;
            margin-top: 3px;
            &--xLogo {
                height: 23px;
                width: auto;
            }
        }
    }
}