@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/font' as *;

.lights {
    &-items {
        width: 60%;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        @include tablet {
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
            justify-content: center;
        }
        &--card{
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            
            &-img {
                width: 100%;
                height: auto;
                border-radius: 4px 4px 0 0;
            }
            &-text {
                padding: 1rem;
                text-align: center;
                &--name {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                &--price {
                    font-weight: 600;
                }
            }    
        }
    }
}